# Core dependencies
Flask>=2.0,<3.0
Flask-Cors==4.0.1
gunicorn==20.1.0
Werkzeug>=2.0,<2.1

# AI and ML related
opencv-python-headless==4.10.0.84
numpy==1.26.3
spacy==3.7.5
easyocr==1.7.1
torch==2.3.1
torchvision==0.18.1
azure-cognitiveservices-speech==1.41.1

# NLP and Text Processing
nltk==3.8.1
textblob==0.18.0.post0
langdetect==1.0.9
newspaper3k==0.2.8

# API and Web
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.19
requests==2.31.0
httpx==0.27.0

# Data Processing
pandas==2.2.2
pillow==10.3.0
python-dotenv==1.0.1
pydantic==2.7.0

# Image Processing
scikit-image==0.19.3
matplotlib==3.9.2

# Utilities
tqdm==4.66.2
PyYAML==6.0.1
python-dateutil==2.9.0.post0

aiohttp==3.9.5
pyaudio==0.2.14
cachetools==5.3.3
waitress==2.1.2
